.Card{
    width: 80vw;
    margin: 2vw;
}

.CardImg{
    min-height: 40vh;
}

.Title{
    margin-bottom: 1vw;
    font-size: 4rem;
}

.Lyrics{
    white-space: pre-wrap;
    font-size: 1.5rem;
}

.CardActions{
    margin-top: 1vw;
    padding: 0 !important;
    align-items: center !important;
}

.AddButton{
    font-size: 1.5rem !important;
}

.ButtonIcon{
    font-size: 1.5rem !important;
}

.HomeButton{
    font-size: 1.5rem !important;
}

.ButtonContainer{
    display: flex;
    padding: 0.5vw;
    width: 79vw;
    justify-content: space-between;
}